# Virtual Environment
venv/
.venv/
env/

# Dataset (too large for GitHub)
dataset/

# Trained model weights (too large for GitHub)
saved_models/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
